<% if (!userName){var userName = null} %> 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>六角部落格 | Bootstrap 4 繁體中文手冊</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Bootswatch CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.1/journal/bootstrap.min.css" integrity="sha512-uxeJKeur4Xsr2G34/0G7zjr2jNkx9ICMzn2eueNYgrofsWiWAC4Tqdq3pHbn1lfaWYQafovMfLTfZAsZq3i/WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- 圖片來源：http://www.gratisography.com/#objects -->
    <style>
      body,html{
        height: 100%;
      }

      .post {
        line-height: 1.8;
      }

      .footer{
        background-color: #545454 !important;
      }

      .navbar{
        background: linear-gradient(135deg, #eb6864, rgb(76, 143, 209));
      }

      .user.dropdown-item:active{
        background-color: transparent;
      }

      .dropdown-item:active{
        background-color: #369;
        color:#fff;
      }
    </style>
  </head>
  <body class="d-flex flex-column">
    <nav
    class="navbar navbar-expand-lg navbar-dark bg-primary"
  >
      <h1 class="h5">
        <a class="navbar-brand" href="/">
          <i class="fa fa-book text-light mr-2" aria-hidden="true"></i>
          Web Tech
        </a>
      </h1>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">         
          <a class="nav-item nav-link" href="/auth/signup"
            >Sign up <span class="sr-only">(current)</span></a
          >           
          <div class="dropdown d-flex">
            <button class="nav-item nav-link bg-transparent border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              <% if(userName){ %>
              <div class="rounded-circle  position-relative" style=" width: 18px;height: 18px; overflow: hidden;">
                <i class="fa fa-user-circle-o fa-2xl text-info bg-white position-absolute" style="left:0"  aria-hidden="true"></i>
              </div>
              <% } else {%> 
              <i class="fa fa-user-circle-o "  aria-hidden="true"></i>
              <% } %> 
            </button
            >
            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuButton"> 
              <% if(userName){ %>
                <div class="user text-info h5 px-4 pt-1 pb-2">Hello, 
                  <span class="font-weight-bold"><%= userName %></span>
                </div> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/dashboard">Dashboard</a>
              <% } %> 
              <% if(!userName){ %>                  
                <a class="dropdown-item" href="/auth/login">Log in</a>
              <% } else {%> 
                <form action="/dashboard/logout" method="post">
                  <input class="dropdown-item" type="submit" value="Log out">
                </form> 
              <% } %>
            </div>            
          </div>     
        </div>
      </div>
    </nav>

    <main class="container-fluid container-sm py-4 px-5 px-sm-0 flex-grow-1"><%- content %></main>
    <footer class="bg-secondary text-white py-4 footer">
      <div class="container">
         <div class="text-center">© Copright 2022 WEB TECH</div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>


  </body>
</html>
