<% extend('./layouts/auth')%>
<div class="row justify-content-center align-items-center h-100">
  <div
    class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4 h-75 mt-4"
    style="max-height: 500px; max-width: 420px"
  >
    <div class="shadow p-4 rounded-lg bg-white h-100">
      <h2 class="py-3 text-center">Log in</h2>
      <form method="POST" action="/auth/login">
        <div class="form-group">
          <label class="font-weight-bold mb-0" for="email">Email</label>
          <div class="position-relative">
            <input
              type="email"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 py-4 pr-4"
              style="padding-left: 2.5rem"
              id="email"
              name="email"
              pattern="^\w[\w_.]*@.+\.com(\.\w+)?$"
              aria-describedby="emailHelp"
              placeholder="example@gmail.com"
              value="qqqq5953@gmail.com"
              required
            />
            <!-- <%= invalidEmail %> -->
            <i
              class="fa fa-envelope-o position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 10px"
              aria-hidden="true"
            ></i>
          </div>
          <small class="form-text text-primary"><%= emailError %> </small>
        </div>
        <div class="form-group">
          <label class="font-weight-bold mb-0" for="password">Password</label>
          <div class="position-relative">
            <input
              type="password"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 py-4 pr-4"
              style="padding-left: 2.5rem"
              id="password"
              name="password"
              placeholder="Enter your password"
              value="123123"
              required
            />
            <!-- <%= invalidPassword %>-->
            <i
              class="fa fa-key position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 12px"
              aria-hidden="true"
            ></i>
            <button
              type="button"
              class="position-absolute border-0 bg-transparent"
              style="top: 50%; transform: translatey(-50%); right: 0"
            >
              <i class="fa fa-eye-slash" aria-hidden="true"></i>
              <i class="fa fa-eye d-none" aria-hidden="true"></i>
            </button>
          </div>
          <small class="form-text text-primary"><%= passwordError %> </small>
        </div>
        <div class="form-group d-flex justify-content-between">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="confirm"
              checked
              required
            />
            <label class="form-check-label" for="confirm">Remember me</label>
          </div>
        </div>
        <div class="text-center mt-5">
          <button
            type="submit"
            class="btn btn-primary rounded-pill w-50 login-btn"
          >
            Log in
          </button>
        </div>
        <div class="text-center mt-2">
          <small>or</small>
          <a href="/auth/signup" class="text-info h6">sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // 隱藏或顯示密碼
  const passwordInput = document.getElementById('password')
  const showPassword = document.querySelector('.fa-eye-slash')
  const hidePassword = document.querySelector('.fa-eye')

  showPassword.addEventListener('click', (e) => {
    passwordInput.type = 'text'
    showPassword.classList.add('d-none')
    hidePassword.classList.remove('d-none')
  })

  hidePassword.addEventListener('click', (e) => {
    passwordInput.type = 'password'
    hidePassword.classList.add('d-none')
    showPassword.classList.remove('d-none')
  })
</script>
