<% extend('./layouts/auth')%>
<div class="row justify-content-center align-items-center h-100">
  <div
    class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4 h-75 mt-4"
    style="max-height: 500px; max-width: 420px"
  >
    <div class="shadow p-4 rounded-lg bg-white h-100">
      <h2 class="py-3 text-center">Log in</h2>
      <form method="POST" action="/auth/login">
        <div class="form-group">
          <label class="font-weight-bold mb-0" for="email">Email</label>
          <div class="position-relative">
            <input
              type="email"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 p-4"
              id="email"
              name="email"
              pattern="^\w[\w_.]*@.+\.com(\.\w+)?$"
              aria-describedby="emailHelp"
              placeholder="example@gmail.com"
              value="<%= invalidEmail %>"
              required
            />
            <i
              class="fa fa-envelope-o position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 0"
              aria-hidden="true"
            ></i>
          </div>
          <small class="form-text text-primary error-message"
            ><%= emailError %>
          </small>
        </div>
        <div class="form-group">
          <label class="font-weight-bold mb-0" for="password">Password</label>
          <div class="position-relative">
            <input
              type="password"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 p-4"
              id="password"
              name="password"
              placeholder="Enter your password"
              value="<%= invalidPassword %>"
              required
            />
            <!-- 123123 -->
            <i
              class="fa fa-key position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 2px"
              aria-hidden="true"
            ></i>
            <a
              href="#"
              class="position-absolute"
              style="top: 50%; transform: translatey(-50%); right: 0"
            >
              <i class="fa fa-eye-slash" aria-hidden="true"></i>
              <i class="fa fa-eye d-none" aria-hidden="true"></i>
            </a>
          </div>
          <small class="form-text text-primary error-message"
            ><%= passwordError %>
          </small>
        </div>
        <div class="form-group d-flex justify-content-between">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="confirm"
              checked
              required
            />
            <label class="form-check-label" for="confirm">Remember me</label>
          </div>
        </div>
        <div class="text-center mt-5">
          <button
            type="submit"
            class="btn btn-primary rounded-pill w-50 login-btn"
          >
            Log in
          </button>
        </div>
        <div class="text-center mt-2">
          <small>or</small>
          <a href="/auth/signup" class="text-info h6">sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // 驗證 email 格式
  const emailInput = document.getElementById('email')
  const passwordInput = document.getElementById('password')
  const errorMessage = document.querySelectorAll('.error-message')
  const [emailErrorMessage, passwordErrorMessage] = errorMessage

  passwordInput.addEventListener('click', () => {
    clearErrorMessage(passwordErrorMessage)
  })

  checkEmailPattern('input')
  checkEmailPattern('blur')
  checkEmailPattern('click')

  function checkEmailPattern(clientEvent) {
    emailInput.addEventListener(clientEvent, (event) => {
      if (clientEvent === 'click') return checkByErrorMessageContent(event)
      responseToEmailPattern(event)
    })
  }

  function checkByErrorMessageContent(event) {
    if (
      emailErrorMessage.textContent === 'correct pattern' ||
      emailErrorMessage.textContent === 'incorrect pattern'
    ) {
      responseToEmailPattern(event)
    } else {
      clearErrorMessage(emailErrorMessage)
    }
  }

  function responseToEmailPattern(event) {
    const regex = new RegExp(event.target.pattern)

    if (isPatternCheched(regex, event.target.value)) {
      emailErrorMessage.textContent = 'correct pattern'
      emailErrorMessage.classList.add('text-info')
    } else {
      emailErrorMessage.textContent = 'incorrect pattern'
      emailErrorMessage.classList.remove('text-info')
    }
  }

  function isPatternCheched(regex, inputValue) {
    return regex.test(inputValue)
  }

  function clearErrorMessage(errorMessageDOM) {
    errorMessageDOM.textContent = ''
  }

  // 隱藏或顯示密碼
  const showPassword = document.querySelector('.fa-eye-slash')
  const hidePassword = document.querySelector('.fa-eye')

  showPassword.addEventListener('click', (e) => {
    passwordInput.type = 'text'
    showPassword.classList.add('d-none')
    hidePassword.classList.remove('d-none')
  })

  hidePassword.addEventListener('click', (e) => {
    passwordInput.type = 'password'
    hidePassword.classList.add('d-none')
    showPassword.classList.remove('d-none')
  })
</script>
