<% extend('./layouts/auth')%>

<div class="row justify-content-center align-items-center h-100">
  <div
    class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 mt-5"
    style="max-width: 450px"
  >
    <div class="shadow px-4 pt-3 pb-4 rounded-lg bg-white">
      <h2 class="py-3 text-center">Sign up</h2>
      <form method="POST" action="/auth/signup">
        <div class="form-group">
          <label for="exampleInputEmail1" class="font-weight-bold mb-0"
            >Username</label
          >
          <div class="position-relative">
            <input
              type="text"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 py-4 pr-4"
              style="padding-left: 2.5rem"
              id="userName"
              name="userName"
              aria-describedby="userNameHelp"
              placeholder="請輸入使用者名稱"
              value="Andy"
              required
            />
            <i
              class="fa fa-user-o position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 10px"
              aria-hidden="true"
            ></i>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="font-weight-bold mb-0">Email</label>
          <div class="position-relative">
            <input
              type="email"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 py-4 pr-4"
              style="padding-left: 2.5rem"
              pattern="^\w[\w_.]*@.+\.com(\.\w+)?$"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="請輸入 email"
              value="qqqq5953@gmail.com"
              required
            />
            <i
              class="fa fa-envelope-o position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 10px"
              aria-hidden="true"
            ></i>
          </div>
          <small class="form-text text-primary error-message"
            ><%= emailError %>
          </small>
        </div>
        <div class="form-group">
          <label for="password" class="font-weight-bold mb-0">Password</label>
          <div class="position-relative">
            <input
              type="password"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 py-4 pr-4"
              style="padding-left: 2.5rem"
              id="password"
              name="password"
              placeholder="請輸入密碼"
              value="123123"
              required
            />
            <i
              class="fa fa-key position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 12px"
              aria-hidden="true"
            ></i>
            <button
              type="button"
              class="position-absolute border-0 bg-transparent"
              style="top: 50%; transform: translatey(-50%); right: 0"
            >
              <i class="fa fa-eye-slash" aria-hidden="true"></i>
              <i class="fa fa-eye d-none" aria-hidden="true"></i>
            </button>
          </div>
          <small class="form-text text-primary error-message"
            ><%= passwordError %>
          </small>
        </div>
        <div class="form-group">
          <label for="confirm_password" class="font-weight-bold mb-0"
            >Confirm Password</label
          >
          <div class="position-relative">
            <input
              type="password"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-0 py-4 pr-4"
              style="padding-left: 2.5rem"
              id="confirm_password"
              name="confirm_password"
              placeholder="確認密碼"
              value="123123"
              required
            />
            <i
              class="fa fa-key position-absolute"
              style="top: 50%; transform: translatey(-50%); left: 12px"
              aria-hidden="true"
            ></i>
          </div>
          <small class="form-text text-primary"
            ><%= confirmPasswordError %>
          </small>
        </div>
        <div class="text-center" style="margin-top: 2rem">
          <button
            type="submit"
            class="btn btn-primary rounded-pill w-50 login-btn"
          >
            Sign up
          </button>
        </div>
        <div class="text-center mt-2">
          <small>already have an account?</small>
          <a href="/auth/login" class="text-info h6">log in</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // 驗證 email 格式
  const emailInput = document.getElementById('email')
  const passwordInput = document.getElementById('password')
  const errorMessage = document.querySelectorAll('.error-message')
  const [emailErrorMessage, passwordErrorMessage] = errorMessage

  passwordInput.addEventListener('click', () => {
    clearErrorMessage(passwordErrorMessage)
  })

  checkEmailPattern('input')
  checkEmailPattern('blur')
  checkEmailPattern('click')

  function checkEmailPattern(clientEvent) {
    emailInput.addEventListener(clientEvent, (event) => {
      if (clientEvent === 'click') return checkByErrorMessageContent(event)
      responseToEmailPattern(event)
    })
  }

  function checkByErrorMessageContent(event) {
    if (
      emailErrorMessage.textContent === 'correct pattern' ||
      emailErrorMessage.textContent === 'incorrect pattern'
    ) {
      responseToEmailPattern(event)
    } else {
      clearErrorMessage(emailErrorMessage)
    }
  }

  function responseToEmailPattern(event) {
    const regex = new RegExp(event.target.pattern)

    if (isPatternCheched(regex, event.target.value)) {
      emailErrorMessage.textContent = 'correct pattern'
      emailErrorMessage.classList.add('text-info')
    } else {
      emailErrorMessage.textContent = 'incorrect pattern'
      emailErrorMessage.classList.remove('text-info')
    }
  }

  function isPatternCheched(regex, inputValue) {
    return regex.test(inputValue)
  }

  function clearErrorMessage(errorMessageDOM) {
    errorMessageDOM.textContent = ''
  }

  // 隱藏或顯示密碼
  const showPassword = document.querySelector('.fa-eye-slash')
  const hidePassword = document.querySelector('.fa-eye')

  showPassword.addEventListener('click', (e) => {
    passwordInput.type = 'text'
    showPassword.classList.add('d-none')
    hidePassword.classList.remove('d-none')
  })

  hidePassword.addEventListener('click', (e) => {
    passwordInput.type = 'password'
    hidePassword.classList.add('d-none')
    showPassword.classList.remove('d-none')
  })
</script>
